* {
  margin: 0;
  padding: 0;
}

html, body, #app {
  height: 100%;
  width: 100%;
}

body {
  font-size: 14px;
  background-color: #222;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

#grid {
  background-color: white;
  position: absolute;
  top: 50%;
  margin-top: -200px;
  left: 50%;
  margin-left: -200px;
}

#app {
  margin: 0 auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table td {
  vertical-align: top;
}

table.arena {
  height: 100%;
}
h4 {
  font-size: 0.8em;
  margin: 0 0 0.6em;
}
section {
  margin: 0 0 1em;
}
.info {
  font-size: 0.8em;
  color: #bbb;
}
.leftTab, .rightTab {
  padding: 0.8em;
}
.leftTab {
  width: 200px;  
}
.centerTab {
  background-color: #111; 
}
.rightTab {
  width: 200px;  
}

.badge {
  margin: 0 0 1em;
  border-radius: 0.2em;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  .badge:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .badge h3 {
    font-size: 1em;
  }

.pieces-distribution {
  background-color: black;
  height: 20px;
  border-radius: 0.2em;
  margin: 0 0 0.5em;
  position: relative;
}
  .red-percent {
    position: absolute;
    top: 0; 
    left: 0; 
    height: 20px;
    background-color: maroon;
    -webkit-transition: width 0.1s ease-in-out;
    transition: width 0.1s ease-in-out;
  }

.pfr {
  padding-right: 1em;
}
