* { margin: 0; padding: 0; }

html, body { 
  height: 100%; 
}

body {
  background-color: #aaa;
  padding: 1em;
}

#content {
  max-width: 960px;
  margin: 0 auto;
}

#grid {
  background-color: white;
  border: solid 1px #ddd;
}

p {
  padding: 0 0 0.4em 0.6em;
}

td {
  vertical-align: top;
}

.player {
  border-radius: 3px;
  color: white;
  margin-bottom: 1em;
  padding: 0.8em;
  font-size: 14px;
}
.player.red {
  background-color: maroon;
}
.player.black {
  background-color: black;
}
